<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.characterEncoding">UTF-8</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/goit?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">gfhjvfyjd</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>


        <!-- Автоматичне створення і оновлення структури БД -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping-->
        <mapping class="entity.Developer"/>
        <mapping class="entity.Skill"/>
        <mapping class="entity.Customer"/>
        <mapping class="entity.Company"/>
        <mapping class="entity.Project"/>

    </session-factory>
</hibernate-configuration>